<h2>Add a sighting</h2>
<%= render 'form', {animal:@animal,sighting:@sighting}%>

<table>
  <tr>
    <td><%= link_to 'Animals', root_path%></td>
    <td><%= link_to 'Regions', regions_path%></td>
  </tr>
</table>